.quiz_heading{
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
    margin-top: 35px;
    /* float: left; */
}

.quiz_left_heading{
    width: 80%;
    height: 70px;
    /* border: 1px solid green; */
    float: left;
} 

.quiz_left_heading h2{
    font-size: 25px;
    color: #282828;
}
.quiz_right_heading{
    width: 19%;
    height: 70px;
    /* border: 1px solid rgb(21, 0, 128); */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #282828;
}

.quiz_right_heading p{
    font-weight: bold;
}
.quiz_right_heading span{
    color: red;
}
.quiz_main_question{
    width: 100%;
    height: 350px;
    margin-top: 10px;
    /* border: 1px solid green; */
}
.quiz_ques{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    /* border: 1px solid blue; */
}

.quiz_ques .quiz_question {
    width: 80%;
    height: auto;
    font-size: 20px;
    color: #282828;
    float: left;
    /* border: 1px solid green; */
}

.quiz_ques .quiz-question_mark {
    width: 19%;
    height: 20px;
    font-size: 16px;
    color: #474646;
    float: left;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}

.quiz_options{
    width: 100%;
    height: 220px;
    margin-top: 10px;
    padding-left: 15px;
    /* border: 1px solid rgb(245, 225, 5); */
}

.quiz_options .option{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #0999a1;
    border-radius: 5px;
}

.quiz_options .option label{
    font-size: 16px;
    color: #474646;
    padding-left: 6px;
    line-height: 40px;
}

.quiz_submite_button{
    width: 100%;
    height: 50px;
    border: 1px solid #0999a1;
    display: flex;
    justify-content: center;
}
.quiz_submite_button input{
    width: 120px;
    height: 40px;
    font-size: 16PX;
    margin-top: 5PX;
    border: 1px solid #0999a1;
    background-color: #0999a1;
    border-radius: 3PX;
    color: white;
    display: flex;
    justify-content: center;
}

.quiz_submite_button input:hover{
    background-color: rgb(4, 160, 4);
}

/* quiz scoreboard start */

.quiz_main_scoreboard{
    width: 100%;
    height: 600px;
    margin-top: 20px;
    /* border: 2px solid red; */
}

.left_scoreboard{
    width: 26%;
    height: 350px;
    /* border: 1px solid green; */
    float: left;
    border-radius: 5px;
    background-color: #03666b;
}

.left_scoreboard .left_heading_scoreboard{
    width: 100%;
    height: 30px;
    /* border: 1px solid green; */
    text-align: center;
    margin-top: 15px;
    color: aliceblue;
}

.left_scoreboard .score{
    width: 90%;
    height: 30px;
    /* border: 1px solid green; */
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    color: aliceblue;
}
.left_scoreboard .outof_score{
    width: 100%;
    height: 25px;
    /* border: 1px solid green; */
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    color: rgb(221, 231, 240);
}

.others_text1{
    width: 100%;
    height: 30px;
    /* border: 1px solid white; */
    margin-top: 40px;
}

.others_text{
    width: 100%;
    height: 30px;
    /* border: 1px solid rgb(174, 7, 7); */
    margin-top: 10px;
}

.others_text1 .left_percentile{
    width: 70%;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
    color: rgb(221, 231, 240);
    font-size: 18px;
    /* border: 1px solid white; */
    float: left;
}
.others_text1 .right_percentile{
    width: 20%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: rgb(221, 231, 240);
    /* border: 1px solid white; */
    float: left;
}
.others_text .left_percentile{
    width: 70%;
    height: 30px;
    padding-left: 15px;
    line-height: 30px;
    color: rgb(221, 231, 240);
    font-size: 18px;
    /* border: 1px solid white; */
    float: left;
}
.others_text .right_percentile{
    width: 20%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: rgb(221, 231, 240);
    /* border: 1px solid white; */
    float: left;
}

.left_button{
    width: 100%;
    height: 30px;
    /* border: 1px solid white; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.left_button input{
    width: 150px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    color: rgb(84, 77, 77);
    
}
.left_button input:hover{
    border: 1px solid white;
    background-color: orange;
    color: white;
    
}
.right_scoreboard{
    width: 69%;
    height: 350px;
    margin-left: 30px;
    /* border: 1px solid rgb(0, 26, 128); */
    float: left;
    border-radius: 5px;
    background-color: #03666b;
}

.question_report_heading{
    color: aliceblue;
    padding-top: 50px;
}

.question_report_details{
    width: 96%; 
    height: 90px;
    border: 1px solid white;
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px; 
}

.question_report{
    width: 18%;
    height: 90px;
    /* border: 1px solid rgb(5, 186, 32); */
    float: left;
    margin-left: 10px;
}

.question_report h3{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    color: #282828;
}
.question_report p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: #474646;
    
}

.ques_report_detailtext{
    width: 95%;
    height: 80px;
    /* border: 1px solid white; */
    margin-top: 30px;
    margin-left: 10px;
    color: aliceblue;
    font-size: 16px;
}