*{
    margin: 0;
    padding: 0;
}

.Trial_Registration_maindiv{
    width: 80%;
    background-color: #f6f9ff;
    height: 900px;
    margin-left: 10%;
    border: 1px solid red;
}

.Trial_Registration_Parent_Info{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 250px;;
    margin-top: 20px;
}
.Trial_Registration_Parent_Info h2{
    color: #444444;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 5px;

} 

.Parent_Info_details{
    float: left;
    padding-bottom: 10px;
    width: 23.2%;
    margin-right: 20px;
    /* border: 1px solid blue; */
}

.Parent_Info_details label{
    color: rgb(76, 75, 75);
    font-size: 18px;
    
}
.Parent_Info_details input{
    color: #ffffff;
    width: 275px;
    height: 35px; 
    border-radius: 3px;
    margin-top: 10px;
    border: 1px solid rgb(166, 164, 164);

}

.Parent_Info_detailsothers{
    float: left;
    padding-bottom: 10px;
    width: 48%;
    margin-right: 20px;
    margin-top: 30px;
    /* border: 2px solid blue; */
}

.Parent_Info_detailsothers label{
    color: rgb(76, 75, 75);
    font-size: 18px;
}

.Parent_Info_detailsothers select{
    width: 580px;
    height: 40px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #656363;
    border: 1px solid rgb(166, 164, 164);
}

.Parent_Info_detailsothers_radio {
    margin-top: 30px;
    /* border: 1px solid blue; */
    width: 99%;
    height: 110px;
    margin-left: 5px;
    margin-right: 5px;
} 

.Parent_Info_detailsothers_radio p{
    font-size: 18px;
    color: rgb(76, 75, 75);
    padding-bottom: 10px;
}

.Parent_Info_detailsothers_radio .add_radio{
    font-size: 18px;
    color: rgb(76, 75, 75);
    margin-top: 5px;
}

hr{
    width: 97%;
    margin-left: 5px;
    color: #656363;
}

.Child_Info{
    width: 99%;
    height: 130px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    margin-left: 5px;
}

.Child_Info h2{
    font-size: 25px;
    color: #444444;
    margin-bottom: 15px;
}

.Child_Info_details{
    width: 31.5%;
    height: 70px;
    /* border: 1px solid green; */
    float: left;
    margin-right: 20px;
}

.Child_Info_details label{
    font-size: 18px;
    color: rgb(76, 75, 75);
}

.Child_Info_details input{
    width: 377px;
    height: 35px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #817e7e;
}

.Child_Info_details select{
    width: 377px;
    height: 35px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #656363;
    border: 1px solid #817e7e;
}

.Child_Info_details_radio {
    width: 99%;
    height: 130px;
    margin-left: 5px;
    /* border: 1px solid green; */
}
.Child_Info_details_radio p{
    margin-top: 30px;
    font-size: 18px;
    color: rgb(76, 75, 75);
    margin-bottom: 10px;
}

.Child_Inforadio{
    font-size: 18px;
    color: rgb(76, 75, 75);
    margin-top: 5px;
}