*{
    margin: 0;
    padding: 0;
}

.Trial_Registration_maindiv{
    width: 80%;
    background-color: #f6f9ff;
    height: 900px;
    margin-left: 10%;
    border: 1px solid red;
}

.Trial_Registration_Parent_Info{
    padding-left: 5px;
    padding-right: 5px;
}
.Trial_Registration_Parent_Info h2{
    color: #444444;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 5px;
    
    
    

} 

.Parent_Info_details{
    float: left;
    padding-bottom: 10px;
    width: 23.2%;
    margin-right: 20px;
    /* border: 1px solid blue; */
}

.Parent_Info_details label{
    color: rgb(76, 75, 75);
    font-size: 18px;
    
}
.Parent_Info_details input{
    color: #ffffff;
    width: 275px;
    height: 35px; 
    border-radius: 3px;
    margin-top: 10px;
    border: 1px solid rgb(166, 164, 164);

}

.Parent_Info_detailsothers{
    float: left;
    padding-bottom: 10px;
    width: 48%;
    margin-right: 20px;
    margin-top: 30px;
    border: 2px solid blue;
}

.Parent_Info_detailsothers